body{
    
}
table{     
    border: 4px inset #874605; 
    border-collapse: collapse;
    border-spacing:20px;
}
td{
    font-family: 'Handlee', cursive;
    font-size: 30px;     
    background-color: #cfffad;
    padding: 50px;
    border: 2px solid #f48c42;
}
#moves{
    text-align:center;
}


